<% include ../partials/header %>

	


	<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1> Welcome to YelpCamp </h1>
			<h4> View all of our hand picked campgrounds </h4>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new"> Add a campground </a>
			</p>
		</div>
	</header>


	<div class="row">
		<div class="col-lg-12">
			<h3> Most popular campgrounds </h3>
		</div>
	</div>
	<div class="row text-center">
		<% grounds.forEach(function(ground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%=ground.image%>">
					<div class="caption">
						<h2> <%=ground.name%> </h2>
					</div>
					<p><a class="btn btn-primary" href="/campgrounds/<%= ground._id %>">More Info</a></p>
				</div>
			</div>
				
		<% }); %>

	</div>
	</div>
</div>


<% include ../partials/footer %>
